{% extends 'myapp/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto" style="margin-top: 70px">
            <h4>Asset Maintenance Update</h4>


                {% csrf_token %}

                {% for row in asset_main %}
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Issue id</label>
                    <div class="col-10">
                        <input name='Issue_id' class="form-control" type="text" id="example-email-input"value="{{row.id}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Name</label>
                    <div class="col-10">
                        <input name='asset_name' class="form-control" type="text" id="example-email-input"value="{{row.asset_name}}" readonly >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Tag</label>
                    <div class="col-10">
                        <input name='asset_tag' class="form-control" type="text" value="{{row.asset_tag}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Serial No</label>
                    <div class="col-10">
                        <input name='asset_serial_No' class="form-control" type="text" id="example-email-input"value="{{row.asset_serial_No}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Location</label>
                    <div class="col-10">
                        <input name='asset_loc' class="form-control" type="text" value="{{row.asset_loc}}"readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label" >Issue st time</label>
                    <div class="col-10">
                        <input name='date_main' class="form-control" type="datetime-local" value="{{row.date_main|date:'Y-m-d'}}T{{row.date_main|time:'H:i:s'}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Issue Description</label>
                    <div class="col-10">
                        <input name='asset_desc' class="form-control" type="text" value="{{row.asset_desc}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Assign</label>
                    <div class="col-10">
                        <input name='asset_assign' class="form-control" type="text" value="{{row.asset_assign}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label" >Issue end time</label>
                    <div class="col-10">
                        <input name='date_solved' class="form-control" required="" type="datetime-local" value="{{row.date_solved|date:'Y-m-d'}}T{{row.date_solved|time:'H:i:s'}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Comments</label>
                    <div class="col-10">
                        <input name='asset_comments' class="form-control" type="text" value="{{row.asset_comments}}">
                    </div>
                </div>
                
                

                <div class="pull-right">
                    <td><a class="btn btn-primary btn-s" href="{% url 'workorder' row.id%}" method="post"><span class="glyphicon glyphicon-log-out"></span></a></td>

                    
                    <button type="submit" name="python_code" class="btn btn-primary float-right">Ok</button> 
                </div>
                {% endfor %}
                {{error}}
            


        </div>
    </div>

</div>

{% endblock %}